<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D'Hondt</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <h1>D'Hondt</h1>
    <form id="votes_cast" method="get" action="{{ url_for('calculate_dhondt') }}">
        <input type="number" name="v">
        <input type="number" name="v">
        <input type="number" name="v">
        <input type="submit">
    </form>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script>
// A $( document ).ready() block.
$( document ).ready(function() {
    console.log( "ready!" );
});
</script>
  </body>
</html>